/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* import poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.content{
  position: relative;
}

.content h2 {
  font-size: 8rem;
  position: absolute;
  transform: translate(-50%, -50%); /* for centering */
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #229ad1; /* for stroke */
}

.content h2:nth-child(2) {
  color: #229ad1;
  animation: waves 6s ease-in-out infinite;
}

@keyframes waves {
/* generate wave using clip-path use 3 diffrent frames to make animation smoother */
  0%, 100% {
    clip-path: polygon(100% 100%, 0% 100%, 0.00% 66.67%, 2.00% 66.44%, 4.00% 65.75%, 6.00% 64.63%, 8.00% 63.11%, 10.00% 61.21%, 12.00% 59.01%, 14.00% 56.54%, 16.00% 53.89%, 18.00% 51.12%, 20.00% 48.30%, 22.00% 45.51%, 24.00% 42.82%, 26.00% 40.31%, 28.00% 38.03%, 30.00% 36.07%, 32.00% 34.45%, 34.00% 33.23%, 36.00% 32.45%, 38.00% 32.11%, 40.00% 32.24%, 42.00% 32.82%, 44.00% 33.84%, 46.00% 35.27%, 48.00% 37.08%, 50.00% 39.22%, 52.00% 41.63%, 54.00% 44.25%, 56.00% 47.00%, 58.00% 49.82%, 60.00% 52.62%, 62.00% 55.34%, 64.00% 57.90%, 66.00% 60.23%, 68.00% 62.28%, 70.00% 63.98%, 72.00% 65.29%, 74.00% 66.18%, 76.00% 66.62%, 78.00% 66.60%, 80.00% 66.12%, 82.00% 65.20%, 84.00% 63.86%, 86.00% 62.13%, 88.00% 60.06%, 90.00% 57.71%, 92.00% 55.14%, 94.00% 52.41%, 96.00% 49.60%, 98.00% 46.79%, 100.00% 44.04%);
  }
  50%{
  clip-path: polygon(100% 100%, 0% 100%, 0.00% 27.16%, 2.00% 27.46%, 4.00% 28.34%, 6.00% 29.78%, 8.00% 31.74%, 10.00% 34.17%, 12.00% 37.01%, 14.00% 40.17%, 16.00% 43.59%, 18.00% 47.15%, 20.00% 50.78%, 22.00% 54.37%, 24.00% 57.82%, 26.00% 61.05%, 28.00% 63.97%, 30.00% 66.51%, 32.00% 68.58%, 34.00% 70.15%, 36.00% 71.16%, 38.00% 71.59%, 40.00% 71.43%, 42.00% 70.68%, 44.00% 69.37%, 46.00% 67.52%, 48.00% 65.19%, 50.00% 62.44%, 52.00% 59.35%, 54.00% 55.98%, 56.00% 52.44%, 58.00% 48.82%, 60.00% 45.22%, 62.00% 41.72%, 64.00% 38.43%, 66.00% 35.43%, 68.00% 32.81%, 70.00% 30.62%, 72.00% 28.93%, 74.00% 27.79%, 76.00% 27.22%, 78.00% 27.25%, 80.00% 27.86%, 82.00% 29.04%, 84.00% 30.77%, 86.00% 32.99%, 88.00% 35.65%, 90.00% 38.68%, 92.00% 41.99%, 94.00% 45.49%, 96.00% 49.10%, 98.00% 52.72%, 100.00% 56.25%);
  }
 

 
}